<div class="nav-menu">
    <div class="nav-header">
        <a class="navbar-brand" href="">
            <span class="brand-icon">📊</span>
            <span class="brand-text">Copilot Stats</span>
        </a>
    </div>
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
    </nav>
</div>

